# Firebase / Backend environment variables
FIREBASE_API_KEY=

# Supabase Keys
SUPABASE_URL=https://tqkwavgtqphognjgawmc.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_rKJYyV-wpVR_Y8a96JUn_g_3sxvN-Em
SUPABASE_SECRET_KEY=sb_secret_yXXw1Azq8IApuDD0O-asVw_QfT-mQT_
